# Node.js / Next.js (frontend-specific)
frontend/node_modules/
frontend/.next/
frontend/*.log
frontend/out/
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# Python
backend/env/
__pycache__/
*.pyc

# Environment Variables
# .env*
# *.env

# Vercel
.vercel

# Testing
/coverage

# Production
/build

# Miscellaneous
.DS_Store
Thumbs.db
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local VSCode settings
.vscode/
